/* Attack on Titan Theme by Shishio-kun
 * Last updated: 2022-09-17
 */

:root {
	--c-background: black;
	--c-background-overlay: transparent;
	--c-foreground: #131006;
	--c-text: black;
	--c-text-subdued: #888;
	--c-text-subtle: #999;
	--c-header-icon: #999;
	--c-text-subtle-hover: #fff;
	--c-search: white;
	--c-search-border: #ddd;
	--c-sort-hover: #666;
	--c-sort-icon: rgba(239,133,119,.65);
	--c-list-hover: rgba(255,255,255,0.8);
	--c-list-hover-border: white;
	--c-list-text: #333;
	--c-list-text-hover: #888;
	--c-list-extra-text: #444;
	--c-list-extra-border: #555;
	--c-footer-text: #777;
	--c-category: #131006;
	--c-category-hover: #666;
	--c-category-text: white;
	--c-watching: #cfe88d;
	--c-completed: #ffff92;
	--c-onhold: #afb8e2;
	--c-dropped: #fc7671;

	--i-background: url(https://i.imgur.com/uQMOtTN.png) right top / cover fixed no-repeat;
	--i-avatar: url(https://i.imgur.com/BgIXGhA.gif) center / cover;
}

/* TITAN HAND*/

body:before{
content: "";
background-image: url(https://i.imgur.com/uLUkXHv.png);
background-size: cover;	
width: 100%;
height: 100%;
top: 10px;
left: 0;
position: fixed;
	z-index: -4;
	animation: HAND 2s 1;
}

@keyframes HAND {
	0% {
	top: 500px;
	}
	100% {
  top: 10px;
	}
}

/* TITAN */

body:after{
content: "";
background-image: url(https://i.imgur.com/I1zot3n.png);
background-size: cover;	
width: 100%;
height: 100%;
top: 10px;
left: 0;
position: fixed;
	z-index:-5 !important;
	animation: TITAN 6s 1;
	/* Banner fade effect.
	 * min: 0 / recommended max: 1
	 * higher = more fading */
	--banner-fade-multiplier: 0.8;
	
	-webkit-mask: linear-gradient(to bottom, rgba(0,0,0,0), #000 calc(20% * var(--banner-fade-multiplier)));
	mask: linear-gradient(to bottom, rgba(0,0,0,0), #000 calc(20% * var(--banner-fade-multiplier)));

}

@keyframes TITAN {
	0% {
	top: 100%;
	}
	20% {
	top: 100%;
	}
	100% {
  top: 10px;
	}
}

/* FOREGROUND WALL
This wall fades into transparency to bring forward the particle effect. */
.header:after{
content: "";
background-image: url(https://i.imgur.com/6RftrEm.png);
background-size: cover;	
width: 100% !important;
height: 100% !important;
top: 0px;
left: 0;
position: fixed;
z-index:-2;	
opacity: 0;	
animation: WALL 8s 1;
}

@keyframes WALL {
0% { opacity: 1;}
70% { opacity: 1;}
100% {opacity: 0;}
}

/* BACKGROUND WALL 
The wall you see after intro.*/
.list-container:after{
content: "";
background-image: url(https://i.imgur.com/6RftrEm.png);
background-size: cover;	
width: 100% !important;
height: 100% !important;
top: 0px;
left: 0;
position: fixed;
z-index: -4;	
}


/* PARTICLES */
.header:before{
    z-index: -2 !important;
    filter: hue-rotate(0deg);
    position: fixed;
    display: block;
    content: '';
    left: 0;
    bottom: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.imgur.com/zhBAjPa.png), url(https://i.imgur.com/sH5Xot3.png);
    animation: PARTICLES 15s linear infinite;
    pointer-events: none !important;
		-webkit-mask-image: linear-gradient(to bottom, transparent 30%, black);
	mask-image: linear-gradient(to bottom, transparent 30%, black);
}

@keyframes PARTICLES {
    0% { background-position: -485px 487px, 485px 487px;}
    100% { background-position: 0 0, 0 0;   }
}

/* QUOTE */
.list-container:before{
content: "On that day, mankind received a grim reminder.";
font-size: 48px;
font-family: vivaldi;
top: -380px;
left: 0%;
text-align: center;
position: absolute;
animation: QUOTE 7s 1;
color: white;
	text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
} 

@keyframes QUOTE {
0% { opacity: 0; }
90% { opacity: 0;}
100% { opacity: 1;}
}

/* LIST SETTER AND COLOR 
These codes set the color of the list table and also the distance from the top and bars.*/
.list-container {
	padding-top: 150px;	
}

.list-block{
background-color: rgba(25,5,5,.8);
padding-top: 50px;
margin-top: -0px !important;
	padding-bottom: 200px;
}


/* FOOTER */
#footer-block {
background-color: rgba(25,5,5,.8) !important;
margin-top: 0px;
}

/* remove default banner */

.header { background: none; }